<!-- 共通ヘッダ -->
<head th:fragment="common-head">
	<meta charset="UTF-8">
	<title>WebPortal-Dashboard</title>
	
	<!-- モバイル設定 -->
	<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="manifest" th:href="@{/css/manifest.json}" crossorigin="use-credentials">
	<meta name="application-name" content="WebPortal">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="WebPortal">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	
	<!-- アイコン設定 -->
	<link rel="icon" th:href="@{/img/favicon.ico}" sizes="16x16" href="../static/img/favicon.ico">
	<link rel="shortcut icon" th:href="@{/img/favicon.ico}">
	<link rel="apple-touch-icon" th:href="@{/img/favicon.ico}">
	<link rel="apple-touch-icon" th:href="@{/img/favicon.ico}" sizes="192x192">
	<link rel="apple-touch-icon" th:href="@{/img/favicon.ico}" sizes="128x128">
	
	<!-- スタイル設定 -->
	<link rel="stylesheet" th:href="@{/css/ress.css}" href="../static/css/ress.css">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/css/common.css}" href="../static/css/common.css">
	<link rel="stylesheet" th:href="@{/css/sidebar.css}" href="../static/css/sidebar.css">
	<link rel="stylesheet" th:href="@{/css/navbar.css}" href="../static/css/navbar.css">
	
</head>
<!-- 共通ヘッダはここまで -->

<!-- スクリプト設定 -->
<div th:fragment="common-script">
	<script th:src="@{/js/bootstrap.bundle.min.js}" src="../static/js/bootstrap.bundle.min.js"></script>
</div>
<!-- スクリプト設定はここまで -->

<!-- ナビゲーションヘッダ -->
	<nav class="navbar navbar-expand-sm navbar-dark main-color fixed-top" th:fragment="common-nav">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/}"><img class="logo-img"
				th:src="@{/img/navbar/webportal.png}" src="../static/img/navbar/webportal.png"><strong>WebPortal.com</strong></a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="header-item"><a class="nav-link active"
						aria-current="page" href="#"></a></li>
				</ul>
				<ul class="d-flex navbar-nav">
					<li class="header-item px-2"><a class="nav-link active"
						th:href="@{/logout}"><img class="config-img"
							th:src="@{/img/navbar/exit.svg}" src="../static/img/navbar/exit.svg">ログアウト
					</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- ナビゲーションヘッダ 一般用はここまで-->

	<!-- サイドバー -->
	<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse" th:fragment="common-sidebar">
		<div class="position-sticky pt-3 sidebar-sticky">
				<h3 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase"> <span>機能</span></h3>
				<ul class="nav flex-column">
						<li class="nav-item"> <a class="nav-link" href="create.html" th:href="@{/create}">
		                <img th:src="@{/img/sidebar/create.svg}" src ="../static/img/sidebar/create.svg"  class="feather feather-shopping-cart align-text-bottom"/>
		                TODO作成
		              </a> </li>
				</ul>
		</div>
	</nav>
			<!-- サイドバーはここまで -->