<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="~{common :: common-head}"></head>
<div th:replace="~{common :: common-script}"></div>

<body>

	<div th:replace="~{common :: common-nav}"></div>

	<div class="container-fluid header-up">
		<div class="row">
			
			<nav th:replace= "~{common :: common-sidebar}"></nav>
			
	      	<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
	      	
		     </main>
		</div>
	</div>
</body>
</html>